[user]
	email = me@davemackintosh.co.uk
	name = davemackintosh
	signingkey = 80C2FDA6F6F3F932
[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[pull]
	rebase = true
[init]
	defaultBranch = main
[commit]
	template = ~/.gitmessage
	gpgsign = true
[gpg]
	program = gpg2
[push]
	autoSetupRemote = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[core]
	excludesFile = ~/.gitignore
[maintenance]
	repo = /Users/dave/dotfiles/Repos/znap
	repo = /Users/dave/dotfiles/Repos/marlonrichert/zsh-autocomplete
