.config/ranger/plugins/
.config/nvim/bundle/
vim_session
.git # Because some plugins want in.
tags*
vim_session
.netrwhist
.zplug
.tpm
.config/coc
.config/configstore
.DS_Store
nvim/plugin/*.lua
./ranger/plugins/*
Repos
*.zwc
