[user]
	email = me@davemackintosh.co.uk
	name = davemackintosh
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[pull]
	rebase = true
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
